<header class="sb-site-header">
  <nav class="sb-nav" aria-label="Main navigation">
    <a class="sb-brand" href="{{ .Site.Home.RelPermalink }}">Jonathan Stewart</a>
    {{ with .Site.Menus.main }}
      <ul class="sb-menu">
        {{ range . }}
          <li class="sb-menu-item{{ if .Children }} sb-menu-item-has-children{{ end }}">
            <a href="{{ .URL }}">{{ .Name }}</a>
            {{ with .Children }}
              <ul class="sb-submenu">
                {{ range . }}
                  <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
              </ul>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </nav>
</header>
